body {
    display: flex;
    justify-content: center;
    background-color: rgb(34, 147, 196);
}

#canvas {
    border: 8px solid rgb(38, 118, 119);
    display: block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@font-face {
    font-family: CustomFont;
    src: url("./assets/fonts/FlappyBirdy.ttf");
}